PORT=3000
DATABASE_URL="file:./dev.db"
JWT_SECRET="nest-crm-secret-key-super-secure-change-in-production-2026"
JWT_EXPIRES_IN="7d"
JWT_REFRESH_SECRET="crm-refresh-token-secret-key-2026"
JWT_REFRESH_EXPIRES_IN="30d"
NODE_ENV="development"
FRONTEND_URL="http://localhost:5173"
